.article-detail {
    overflow-y: auto !important;
}

.article-detail>table {
    width: 100% !important;
}

.article-detail>table tr td {
    border: none !important;
    padding-bottom: 40px;
}

.article-detail p:last-child {
    padding-bottom: 40px;
}


/*.article-detail p img,*/

.article-detail p iframe {
    width: 100% !important;
    height: 100% !important;
}


/* .mr {
    margin-left: 0 !important;
} */

.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    bottom: 25px;
    background: #fff;
    padding: 10px 13px 5px 13px;
    border-radius: 25px;
}

.owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #929292;
    border-radius: 50%;
    margin: 0 3px;
}

.owl-dot.active {
    background: #004f30 !important;
}

@media (max-width: 480px) and (min-width: 320px) {
    /* #content.mr {
        margin-top: 0 !important;
    } */
}

@media (max-width: 650px) and (min-width: 320px) {
    body,
    html {
        overflow-y: scroll !important;
    }
}